hr{
  margin-right: 10px;
  margin-bottom: 1px;
  }

h3{
  margin: 0px;
}

main{
  overflow: auto;
  height: 90vh;
  width: 95vw;
}
p{
  margin: 0px;
}
.master{
  width: 70vw;
  height: auto;
  position: relative;
  float: right;
  background-color: #F2F2F2;
  padding: 20px;
  border-radius: 15px;
}
.beschrijvingContainer{
  position: relative;
  display: inline-block;
  width: 500px;
  height:335px;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.infoContainerData{
  width: auto;
}

.dataTableContain{
  width: 255px;
  display: inline-block;
}

.Reserveringssysteem{
  position: absolute;
  display: inline-block;
  right: 20px;
  width: 45%;
  height:335px;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.checkbox-div{
  width:50px;
}
.checkbox-half{
  position: static;
  width: 50%;
  float:left;
  height:auto;
  margin:1px;
}
#submitButtonID{
  padding: 0 30px;
  height: 30px;
  background-color: #2929CC;
  border-style: none;
  border-radius: 50px;
  color: #fff;
}
.tijdstipContainer{
  width: 100%;
  display: block;
  height: auto;
}
.tijden{
display: inline-block;
}
.timeTableContain{
    position: relative;
    width: calc(100% - 10px);
    height:auto;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
.timeGraphContain{
  width: 95%;
  overflow-x: scroll;
  position: relative;
  margin: 0 auto;
  height: 170px;
}
.timeGraph{
  margin-top: 5px;
  width: 1500px;
  height: auto;
  border-collapse: collapse;
  table-layout: fixed;
}
.lineContainer td{
  position: relative;
  border-bottom: 1px solid #000;
}
.timeContainer td{
  text-align: center;
}
.line{
  width: 1px;
  height: 120px;
  background-color: #000;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}
/* TIMEFRAME */
.timeFrame{
  width: calc(100% + 1px);
  height: 50%;
  background-color: #00AA28;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}

.lineContainer td:first-child .timeFrame{
  width: calc(50% + 1px);
  transform: translate(0%,-50%);
  left: 50%;
  top: 50%;
}

.lineContainer td:last-child .timeFrame{
  width: calc(50% + 1px);
  transform: translate(0%,-50%);
  left: calc(0% - 1px);
  top: 50%;
}

/* RED TIMEFRAME FIRST HALF HOUR */
.timeFrameRedL{
  width: calc(50% + 2px);
  height: 50%;
  position: absolute;
  transform: translate(0%,-50%);
  left: 50%;
  top: 50%;
}

.lineContainer td:first-child .timeFrameRedL{
  width: calc(50% + 1px);
  transform: translate(0%,-50%);
  left: 50%;
  top: 50%;
}

.lineContainer td:last-child .timeFrameRedL{
  width: calc(50% + 2px);
  transform: translate(0%,-50%);
  left: calc(0% - 1px);
  top: 50%;
}

/* RED TIMEFRAME LAST HALF HOUR */
.timeFrameRedR{
  width: calc(50% + 2px);
  height: 50%;
  position: absolute;
  transform: translate(0%,-50%);
  left: calc(100% - 1px);
  top: 50%;
  z-index: 1000;
}

.lineContainer td:first-child .timeFrameRedR{
  width: calc(50% + 1px);
  transform: translate(0%,-50%);
  left: calc(100% - 1px);
  top: 50%;
}

.lineContainer td:last-child .timeFrameRedR{
  width: calc(50% + 2px);
  transform: translate(0%,-50%);
  left: calc(0% - 1px);
  top: 50%;
}

.active{
  background-color: #BE0000;
}

.image{
  float: right;
  margin-right: 10px;
  margin-top: 7px;
}
